@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
#head {
    padding:10px;
}
img {
    width: 100%;
}